
# large challenge files
MISC/Get off the ISS/handout.zip
MISC/Get off the ISS/handout/*.sigmf-data

# large challenge files
MISC/Get off the ISS/handout.zip
MISC/Get off the ISS/handout/*.sigmf-data
